body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1407px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
}
#u517 {
  position:absolute;
  left:2px;
  top:242px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u518 {
  position:absolute;
  left:17px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:64px;
}
#u520 {
  position:absolute;
  left:17px;
  top:60px;
  width:623px;
  height:64px;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u522 {
  position:absolute;
  left:17px;
  top:134px;
  width:690px;
  height:450px;
}
#u523 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u524 {
  position:absolute;
  left:717px;
  top:134px;
  width:690px;
  height:450px;
}
#u525 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
