body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
}
#u487 {
  position:absolute;
  left:2px;
  top:242px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:555px;
}
#u488 {
  position:absolute;
  left:393px;
  top:1524px;
  width:370px;
  height:555px;
}
#u489 {
  position:absolute;
  left:2px;
  top:270px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:555px;
}
#u490 {
  position:absolute;
  left:773px;
  top:1524px;
  width:370px;
  height:555px;
}
#u491 {
  position:absolute;
  left:2px;
  top:270px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:453px;
}
#u492 {
  position:absolute;
  left:713px;
  top:141px;
  width:680px;
  height:453px;
}
#u493 {
  position:absolute;
  left:2px;
  top:218px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:555px;
}
#u494 {
  position:absolute;
  left:1153px;
  top:1524px;
  width:370px;
  height:555px;
}
#u495 {
  position:absolute;
  left:2px;
  top:270px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:453px;
}
#u496 {
  position:absolute;
  left:713px;
  top:1061px;
  width:680px;
  height:453px;
}
#u497 {
  position:absolute;
  left:2px;
  top:218px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:555px;
}
#u498 {
  position:absolute;
  left:13px;
  top:1524px;
  width:370px;
  height:555px;
}
#u499 {
  position:absolute;
  left:2px;
  top:270px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:453px;
}
#u500 {
  position:absolute;
  left:13px;
  top:1061px;
  width:680px;
  height:453px;
}
#u501 {
  position:absolute;
  left:2px;
  top:218px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u502 {
  position:absolute;
  left:13px;
  top:10px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:16px;
}
#u504 {
  position:absolute;
  left:13px;
  top:57px;
  width:662px;
  height:16px;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:48px;
}
#u506 {
  position:absolute;
  left:13px;
  top:83px;
  width:617px;
  height:48px;
}
#u507 {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u508 {
  position:absolute;
  left:13px;
  top:141px;
  width:690px;
  height:450px;
}
#u509 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u510 {
  position:absolute;
  left:13px;
  top:601px;
  width:690px;
  height:450px;
}
#u511 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u512 {
  position:absolute;
  left:713px;
  top:601px;
  width:690px;
  height:450px;
}
#u513 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:32px;
}
#u514 {
  position:absolute;
  left:13px;
  top:2095px;
  width:680px;
  height:32px;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  word-wrap:break-word;
}
