body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:500px;
}
#u603 {
  position:absolute;
  left:2px;
  top:242px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u604 {
  position:absolute;
  left:23px;
  top:17px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u606 {
  position:absolute;
  left:13px;
  top:138px;
  width:690px;
  height:450px;
}
#u607 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u608 {
  position:absolute;
  left:713px;
  top:138px;
  width:690px;
  height:450px;
}
#u609 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u610 {
  position:absolute;
  left:13px;
  top:598px;
  width:690px;
  height:450px;
}
#u611 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u612 {
  position:absolute;
  left:713px;
  top:598px;
  width:690px;
  height:450px;
}
#u613 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u614 {
  position:absolute;
  left:13px;
  top:1058px;
  width:690px;
  height:450px;
}
#u615 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u616 {
  position:absolute;
  left:713px;
  top:1058px;
  width:690px;
  height:450px;
}
#u617 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u618 {
  position:absolute;
  left:13px;
  top:1518px;
  width:690px;
  height:450px;
}
#u619 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u620 {
  position:absolute;
  left:713px;
  top:1518px;
  width:690px;
  height:450px;
}
#u621 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
