body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1716px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:128px;
}
#u668 {
  position:absolute;
  left:24px;
  top:66px;
  width:562px;
  height:128px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u670 {
  position:absolute;
  left:24px;
  top:19px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:112px;
}
#u672 {
  position:absolute;
  left:24px;
  top:664px;
  width:562px;
  height:112px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u674 {
  position:absolute;
  left:24px;
  top:204px;
  width:690px;
  height:450px;
}
#u675 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u676 {
  position:absolute;
  left:724px;
  top:204px;
  width:690px;
  height:450px;
}
#u677 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u678 {
  position:absolute;
  left:24px;
  top:796px;
  width:690px;
  height:450px;
}
#u679 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:453px;
}
#u680 {
  position:absolute;
  left:24px;
  top:1256px;
  width:302px;
  height:453px;
}
#u681 {
  position:absolute;
  left:2px;
  top:218px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:453px;
}
#u682 {
  position:absolute;
  left:336px;
  top:1256px;
  width:680px;
  height:453px;
}
#u683 {
  position:absolute;
  left:2px;
  top:218px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u684 {
  position:absolute;
  left:24px;
  top:1719px;
  width:690px;
  height:450px;
}
#u685 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u686 {
  position:absolute;
  left:724px;
  top:796px;
  width:690px;
  height:450px;
}
#u687 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u688 {
  position:absolute;
  left:1026px;
  top:1256px;
  width:690px;
  height:450px;
}
#u689 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:450px;
}
#u690 {
  position:absolute;
  left:724px;
  top:1719px;
  width:300px;
  height:450px;
}
#u691 {
  position:absolute;
  left:2px;
  top:217px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
