body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:176px;
}
#u804 {
  position:absolute;
  left:197px;
  top:322px;
  width:300px;
  height:176px;
}
#u805 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u806 {
  position:absolute;
  left:370px;
  top:550px;
  width:300px;
  height:80px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u808 {
  position:absolute;
  left:300px;
  top:228px;
  width:300px;
  height:64px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
