body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u724 {
  position:absolute;
  left:23px;
  top:113px;
  width:690px;
  height:450px;
}
#u725 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u726 {
  position:absolute;
  left:23px;
  top:16px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:32px;
}
#u728 {
  position:absolute;
  left:23px;
  top:63px;
  width:690px;
  height:32px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u730 {
  position:absolute;
  left:723px;
  top:113px;
  width:690px;
  height:450px;
}
#u731 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u732 {
  position:absolute;
  left:23px;
  top:573px;
  width:690px;
  height:450px;
}
#u733 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u734 {
  position:absolute;
  left:723px;
  top:573px;
  width:690px;
  height:450px;
}
#u735 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:450px;
}
#u736 {
  position:absolute;
  left:23px;
  top:1033px;
  width:690px;
  height:450px;
}
#u737 {
  position:absolute;
  left:2px;
  top:217px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
